#login-page {
    height: 70vh;
}

#login-page .card{
   top:50%;
   transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    #login-page .card{
        width: 60% !important;
    }
}


@media screen and (min-width: 992px) {
    #login-page .card{
        width: 45% !important;
    }
}
