.ant-carousel .slick-next::before {
    content: '' !important;
}
.ant-carousel .slick-prev::before {
    content: '' !important;
}

.slick-arrow.slick-prev:hover, .slick-arrow.slick-next:hover{
    color:white !important;
}
